[submodule "engine/external/spdlog"]
	path = engine/external/spdlog
	url = https://github.com/hanion/spdlog.git
[submodule "engine/external/glfw"]
	path = engine/external/glfw
	url = https://github.com/hanion/glfw.git
[submodule "engine/external/glm"]
	path = engine/external/glm
	url = https://github.com/g-truc/glm
[submodule "engine/external/imgui"]
	path = engine/external/imgui
	url = https://github.com/hanion/imgui.git
	branch = docking
[submodule "engine/external/tracy"]
	path = engine/external/tracy
	url = https://github.com/wolfpld/tracy
[submodule "engine/external/yaml-cpp"]
	path = engine/external/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
